<!DOCTYPE html>
<html>
<head>
  <title>Mi Navbar</title>
  <style>
    /* Estilos CSS */
    nav {
      background-color: #024b1e;
      overflow: hidden;
    }

    nav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    nav a:hover   
 {
      background-color: #ddd;
      color: rgb(0, 0, 0);
    }

    nav a.active {
      background-color: #04AA6D;
      color: white;
    }
  </style>
</head>
<body>   

<div>
    <nav>
        <a href="{% url 'home' %}">home</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="Log out">
        </form>

      </nav>
    
</div>

    {%block content%}

    {% endblock %}
</body>
</html>